<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css">
    <title>Game</title>
</head>
<body id="game" style="height: 100vh; background: #9C835F;">
    <nav class="navbar bg-transparent">
        <div class="container-fluid d-flex justify-content-start">
            <a class="navbar-brand ml-3" href="/"><img src="img/_.png" width="55px" alt=""></a>
            <img src="img/logo 1.png" class="ms-5" alt="">
            <p class="text-uppercase mx-5" style="font-size: 36px; font-weight: 700; color: #F9B23D;">Rock paper scissors</p>
        </div>
    </nav>

    <section>
      <div class="row">
        <div class="col-4 d-flex justify-content-end text-uppercase">
          <h1>player 1</h1>
        </div>
        <div class="col-4 offset-4 d-flex justify-content-start text-uppercase">
          <h1>com</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-end game-item" role="button">
            <img src="img/batu 1.png" alt="" class="image-player py-3 px-3 batu" onclick="pickOption('batu')">
        </div>
        <div class="col-4 offset-4 d-flex justify-content-start game-item">
          <img src="img/batu 1.png" class="image-computer py-3 px-3 batu" alt="">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-end game-item" role="button">
          <img src="img/kertas 1.png" alt="" class="image-player py-3 px-3 kertas" onclick="pickOption('kertas')">
        </div>
        <div class="col-4 d-flex justify-content-center info">
          VS
        </div>
        <div class="col-4 d-flex justify-content-start game-item">
          <img src="img/kertas 1.png" class="image-computer py-3 px-3 kertas" alt="">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-end game-item" role="button">
          <img src="img/gunting 1.png" alt="" class="image-player py-3 px-3 gunting" onclick="pickOption('gunting')">
        </div>
        <div class="col-4 offset-4 d-flex justify-content-start game-item">
          <img src="img/gunting 1.png" class="image-computer py-3 px-3 gunting" alt="">
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <img src="img/refresh 1.png" role="button" onclick="reset()" alt="">
        </div>
      </div>
    </section>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
</body>
<script>

  class Start {
    constructor(){
      this.playerName = "Player 1"
      this.botName = "COM"
      this.winner = '';
      this.botOption;
      this.playerOption;
    }

    get getBotOption(){
      return this.botOption;
    }

    set setBotOption(option){
      this.botOption = option;
    }

    get getPlayerOption(){
      return this.playerOption;
    }

    set setPlayerOption(option) {
      this.playerOption = option;
    }

    pilihan_komputer() {
      const comp = Math.random();
      if( comp < 0.34 ) {
          return 'gunting';
      }
      if( comp >= 0.34 && comp < 0.67 ) {
          return 'batu';
      } 
      return 'kertas';
    }

    hasil(){
      if (this.botOption == "kertas" && this.playerOption == "gunting") {
          return this.winner = this.playerName
      } else if (this.botOption == "kertas" && this.playerOption == "batu") {
          return this.winner = this.botName;
      } else if (this.botOption == "gunting" && this.playerOption == "kertas") {
          return this.winner = this.botName;
      } else if (this.botOption == "gunting" && this.playerOption == "batu") {
          return this.winner = this.playerName
      } else if (this.botOption == "batu" && this.playerOption == "kertas") {
          return this.winner = this.playerName
      } else if (this.botOption == "batu" && this.playerOption == "gunting") {
          return this.winner = this.botName;
      } else {
          return this.winner = "DRAW"
      }
  }
  matchResult() {
      if (this.winner != "DRAW") {
          return `<div class="w-50 text-center result d-flex justify-content-center" style="transform: rotate(-28.87deg);"><span class="text-result align-self-center text-uppercase">${this.winner} </br>Menang</span></div>`;
      } else {
          return `<div class="w-50 text-center seri d-flex justify-content-center" style="transform: rotate(-28.87deg);"><span class="text-result align-self-center text-uppercase">DRAW</div>`;
      }
  }
  }

  function pickOption(params){
    const start = new Start();
    start.setPlayerOption = params;
    start.setBotOption = start.pilihan_komputer();
    start.hasil();
    // alert('hasil akhir : ' + start.matchResult());
    const g_com = document.querySelector('.image-computer.gunting');
    const b_com = document.querySelector('.image-computer.batu');
    const k_com = document.querySelector('.image-computer.kertas');

    g_com.classList.remove('selected');
    b_com.classList.remove('selected');
    k_com.classList.remove('selected');

    const g_play = document.querySelector('.image-player.gunting');
    const b_play = document.querySelector('.image-player.batu');
    const k_play = document.querySelector('.image-player.kertas');

    g_play.classList.remove('selected');
    b_play.classList.remove('selected');
    k_play.classList.remove('selected');

    const pilihan = document.querySelector('.image-player.' + start.getPlayerOption);
    pilihan.classList.add('selected');
    const selected = document.querySelector('.image-computer.' + start.getBotOption);
    // alert(selected);
    selected.classList.add('selected');
    const info = document.querySelector('.info');
    info.innerHTML = start.matchResult();
  }

  function reset(){
    const g_com = document.querySelector('.image-computer.gunting');
    const b_com = document.querySelector('.image-computer.batu');
    const k_com = document.querySelector('.image-computer.kertas');

    g_com.classList.remove('selected');
    b_com.classList.remove('selected');
    k_com.classList.remove('selected');

    const g_play = document.querySelector('.image-player.gunting');
    const b_play = document.querySelector('.image-player.batu');
    const k_play = document.querySelector('.image-player.kertas');

    g_play.classList.remove('selected');
    b_play.classList.remove('selected');
    k_play.classList.remove('selected');
    const info = document.querySelector('.info');
    info.innerHTML = 'VS'
  }
</script>
</html>